@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    width: 100%;
}

body {
    background: rgb(71, 71, 71);
    color: white;
}

#bodyDiv{
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 100%;
    width: auto;
    margin: 0;
    font: 13px Helvetica, Arial;    
}

.heading {
    text-align: center;
}

.chatistitle{
    width: 100%;
    margin-top: 15px;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-style: italic;  
    letter-spacing: 0.2cm;
}

form {
    position: relative;
    width: 144.4%;
    border-radius: 5px;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form input {
    border: 0;
    border-bottom-left-radius: 5px;
    padding: 20px;
    width: 93%;
    margin: 0;
    float: left;
    height:100%;
    font-size: 20px;
    color:#000;
}

form input:focus{
    outline:none;
}

form button {
    width: 7%;
    height: 46px;
    border: 0;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 5px;
    pointer-events: none;
    position: relative;
    background: #000;
}

form button:hover{
    cursor: pointer;
}

#outerdiv {
    overflow: hidden;
    width: 100%;
    max-width: 1350px;
    height: 100%;
    margin-top: 1.3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#messagediv {
    /*overflow: hidden;*/
    width: 98%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

#partnerdiv {
    /*width: 12%;*/
    /*float: left;*/
    /*margin-left: 2%;*/
    /*margin-right: auto;*/
}

#mydiv {
    /*width: 12%;*/
    float: right;
    /*margin-right: 0%;*/
    /*margin-left: auto;*/
}

#outerdiv img.emojione{
    height:18px;
    width: auto;
}

#outerdiv img.emojioneemoji{
    height: 18px;
    width: auto;
}

#outerdiv img{
    width: 100%;
    max-width: 130px;
    height: auto;
    border-radius:65px;
}

#messages {
    max-width: 1450px;
    width: 100%;
    height: 72vh;
    margin: auto;
    word-wrap: break-word;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color:rgba(242,234,222,0.5) ;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    position: relative;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#nextpartner {
    width: 90px;
    height: 60px;
    margin: 5px 0 0 5px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: fixed;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #5e5e5e;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  
  #nextpartner:hover {
    background-color: #3e8e41
}
  
  #nextpartner:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #383838;
    transform: translateY(4px);
  }

#messages:hover {
    box-shadow: 10px 14px 38px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#messages .me {
    padding: 5px 10px;
    width: max-content;
    margin-left: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 90%;
    font-size: 1.2em;
    background: rgb(0 98 255);
    /* background: #f72702; */
}

#messages .partner {
    padding: 5px 10px;
    width: max-content;
    margin-right: auto;
    max-width: 90%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2em;
}

.emoji{
    height:18px;
}

#newMessage {
    width: 70%;
    height: 5%;
}

#m{
    pointer-events: none;
    font-size: 1.5em;
    background:#e0e2e5;
}

#messages::-webkit-scrollbar {
    width: 10px;
}
 
#messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#messages::-webkit-scrollbar-thumb {
  background-color: #9b4949;
  outline: 1px solid #9b4949;
}

#canvas{
    position: absolute;
    z-index: 1;
}
#istyping{
    color: white;
    visibility:hidden;
}

.connectedalert{
    width: 50%;
    border-radius: 20px;
    background: green;
    text-align: center;
    font-weight: 550;
    margin: 45px auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

div.emojionearea{
    width: 92%; 
    float: left;
}

div.emojionearea-inline{
    width: 92%; 
}

.no-margin {
    margin: 0px !important;
}

h2,h3 {
    font-size: medium;
}

#m {
    color: initial;
    font-size: 1.2em;
}

/* #canvas {
    height: 100vh;
    width: 100vw;
} */

@media only screen and (max-width:376px){
    
    #messages .me {
        font-size: 18px !important;
    }

    #messages .partner {
        font-size: 18px !important;
    }

    #messages {
        height: 68vh;
    }

    #nextpartner {
        width: 65px;
        height: 50px;
    }

    .emojionearea.emojionearea-inline{
        font-size: 15px !important;
    }

    .connectedalert{
        width: 55%;
        margin: 55px auto;
    }
}

@media screen and (max-width: 500px) {
    .align-left {
        width: 50%;
        display: inline-block;
    }
    #partnerdiv #partnerimg, #mydiv #myimg {
        width: 50%;
        display: inline-block;
        vertical-align: top !important;
        height: 50px !important;
        border-radius: 25px;
        max-width: 50px !important;
        float: right;
    }
    
    #partnerdiv h3, #mydiv h3 {
        margin: 0px;
    }
    #messagediv {
        height: 60%;
    }
    #mydiv {
        float: left;
    }
}
